#app {
  font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}

.btn-success {
  background-color: #4eb883;
}

.budge-success {
  background-color: #4eb883;
}

.card-product {
  border-radius: 1.2rem;
}

.card-img-top {
  border-radius: 1.2rem 1.2rem 0 0;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #000;
}

.img-fluid {
  border-radius: 1.2rem;
}